html, body {
    margin: 0;
}
section {
    background-color: #32a2d7;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, serif;
    color: black;
    font-size: xx-large;
}
section:nth-child(even) {
    background-color: #561139;
    color: white;
}
p {
    margin: 0.5em;
}
a {
    color: black;
}
section:nth-child(even) a {
    color: white;
}
a:visited {
    color: #561139;
}
section:nth-child(even) a:visited {
    color: #32a2d7;
}